{% extends 'base.html.twig' %}
{% block title 'Gérer les membres' %}
{% block body %}

    <div class="container">
        <h1 class="mb-4">Gérer les membres</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Membres</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for member in membres %}
                <tr>
                    <td>{{ member.firstname }} {{ member.lastname }}</td>
                    <td><a href="{{ path('admin.membres.edit', {id: member.id}) }}" class="btn btn-secondary">modifier</a>
                        <form method="POST" action="{{ path('admin.membres.delete', {id: member.id}) }}" style="display: inline-block" onsubmit="return confirm('Vous êtes sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
                            <button class="btn btn-danger">supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin.membres.new') }}" class="btn btn-primary">Créer un nouveau membre</a>
        </div>
    </div>

{% endblock %}
